@model Projektas.Models.Login

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Event Space System</h1>
</div>


@using (Html.BeginForm())
{
    @Html.DropDownListFor(model => Model.LoginName, Model.LoginNames)

    <p><input type="submit" value="Submit" /></p>
}