@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Event Space System</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2><b>Created by:</b></h2>
            <ul>
                <li>I</li>
                <li>AM</li>
                <li>SOO</li>
                <li>DONE</li>
            </ul>
    </div>
</div>