@model Projektas.Models.Equipment
<tr>

    <td>
        <input type="checkbox" name="equipmentIdToAdd"
               id="equipmentIdToAdd" value="@Model.Code"
    </td>
    <td>
        @Model.Name
    </td>
    <td>
        @Model.Model
    </td>
</tr>